[submodule "contrib/benchmark"]
	path = contrib/benchmark
	url = https://github.com/google/benchmark.git
[submodule "contrib/boost"]
	path = contrib/boost
	url = https://github.com/pingcap/boost-extra.git
[submodule "contrib/double-conversion"]
	path = contrib/double-conversion
	url = https://github.com/google/double-conversion.git
[submodule "contrib/fmtlib"]
	path = contrib/fmtlib
	url = https://github.com/fmtlib/fmt.git
[submodule "contrib/googletest"]
	path = contrib/googletest
	url = https://github.com/google/googletest.git
[submodule "contrib/jemalloc"]
	path = contrib/jemalloc
	url = https://github.com/jemalloc/jemalloc.git
[submodule "contrib/lz4"]
	path = contrib/lz4
	url = https://github.com/lz4/lz4.git
[submodule "contrib/magic_enum"]
	path = contrib/magic_enum
	url = https://github.com/Neargye/magic_enum.git
[submodule "contrib/poco"]
	path = contrib/poco
	url = https://github.com/pingcap/poco.git
[submodule "contrib/zlib-ng"]
	path = contrib/zlib-ng
	url = https://github.com/zlib-ng/zlib-ng.git
[submodule "contrib/protobuf"]
	path = contrib/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
[submodule "contrib/zstd"]
	path = contrib/zstd
	url = https://github.com/facebook/zstd.git
[submodule "contrib/cpu_features"]
	path = contrib/cpu_features
	url = https://github.com/google/cpu_features.git
[submodule "contrib/arm-optimized-routines"]
	path = contrib/arm-optimized-routines
	url = https://github.com/ARM-software/optimized-routines.git
[submodule "contrib/re2"]
	path = contrib/re2
	url = https://github.com/google/re2.git
